<footer class="footer">
    <div class="footer-text">
        <p>&copy; 2024 HotelHUB. Todos os direitos reservados</p>
        <p>Desenvolvido por <a href="/sobre">HHub Entrerprise</a></p>
    </div>
    <div class="redes-sociais">
        <a href="#"><img src="images/linkedin.png" alt="Linkedin"></a>
        <a href="#"><img src="images/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="images/X.png" alt="X"></a>
    </div>
</footer>