<header class="header">
    <logo class="logo">HotelHUB</logo>
    <nav class="links">
        <a href="/">Home</a>
        <a href="/reservas">Reservas</a>
        <a href="/#promo">Promoções</a>
        <a href="/sobre">Sobre</a>
    </nav>
    <nav class="user">
        <a href="/carrinho">Carrinho</a>
        <a href="/login">Logar</a>
    </nav>
</header>
