<header class="header">
    <img src="/images/logo.png" alt="HHUB" class="logo">
    <nav class="links">
        <a href="/">Home</a>
        <a href="/reservas">Reservas</a>
        <a href="/#promo">Promoções</a>
        <a href="/sobre">Sobre</a>
    </nav>
    <nav class="user">
        <a href="/carrinho">Carrinho</a>
        <% if (!isLoggedIn) { %>
            <a href="/login">Logar</a>
        <% } else { %>
            <a href="/logout">Sair</a>
        <% } %>
    </nav>
</header>
