<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>HHUB - Reserva de Quartos</title>
</head>
<body>
    <div class="wrapper">
        <a href="/" class="back-link">Voltar para a Página Inicial</a>
        <div class="display">
            <div class="table-container-1">
                <table class="hotel-table">
                    <div class="hd">
                        <h1>Quartos de Hotel</h1>
                        <button class="btn-add">Adicionar</button>
                    </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome do Quarto</th>
                            <th>Nº Quarto</th>
                            <th>Preço</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Quarto Standart</td>
                            <td>403</td>
                            <td>R$ 200,00</td>
                            <td>
                                <button class="btn-update">Atualizar</button>
                                <button class="btn-remove">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-container-2">
                <table class="reservations-table">
                    <div class="hd">
                        <h1>Reservas</h1>
                        <button class="btn-add">Adicionar</button>
                    </div>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome do Cliente</th>
                            <th>Data da Reserva</th>
                            <th>Nº Quarto</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>João Silva</td>
                            <td>20/12/2024</td>
                            <td>403</td>
                            <td>
                                <button class="btn-update">Atualizar</button>
                                <button class="btn-remove">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>