<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles.css">
    <title>HHUB - Reserva de Quartos</title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header') %>

        <section class="reservas">
            <h2 id="reserva">Reserve agora o seu quarto!</h2>
            <div class="cards">
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 1">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 2">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 3">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 1">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 2">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 3">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 2">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
                <div class="card">
                    <img src="images/quartohotel.jpg" alt="Quarto 3">
                    <h4>Quarto Standard</h4>
                    <p>A partir de R$ 200/noite</p>
                    <button onclick="window.location.href='/quarto';">Ver Mais</button>
                </div>
            </div>
        </section>

        <%- include('partials/footer') %>
    </div>
</body>
</html>