@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 123px;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home {
    flex: 1;
}

.header {
    position: fixed;
    width: calc(100% - 60px);
    height: 120px; 
    background-color: #247bc2; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; 
    z-index: 1000; 
}

.logo {
    width: 20%;
    height: 250px;
    flex: 1;
}

.links, .user {
    width: 40%;
    font-size: 20px;
    display: flex;
    gap: 20px;
    flex: 2;
}

.links {
    justify-content: flex-end;
}

.user {
    justify-content: flex-end;
}

.links a, .user a {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.2s ease, transform 0.2s ease;
}

.links a:hover, .user a:hover {
    color: #ffa500; 
    transform: scale(1.1); 
}

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 5px 0 15px rgb(0, 0, 0);
}

.banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.banner-text {
    position: absolute;
    margin-top: 200px;
    margin-left: 20px;
    z-index: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.158); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
}

.banner h1 {
    font-size: 48px; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.banner p {
    font-size: 20px; 
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffa500; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.banner button:hover {
    background-color: #cc8400; 
}

.promoções, .reservas {
    margin-top: 20px;
    padding: 50px 20px;
    text-align: center;
}

.reservas {
    margin-top: 0;
    padding-top: 150px;
    flex: 1;
}

.promoções h2, .reservas h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: translateY(-5px); 
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h4 {
    font-size: 20px;
    margin: 15px;
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.card button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease; 
}

.promoções button, .reservas button, .login button, .book-room, .submit-button {
    margin-top: 30px;
    padding: 12px 30px;
    background-color: #ffa500; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.promoções button:hover, .reservas button:hover, .login button:hover, .book-room:hover, .submit-button:hover {
    background-color: #cc8400; 
}

.footer {
    background-color: #247bc2;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    bottom: 0;
    position: relative;
}

.footer-text {
    font-size: 14px; 
}

.footer-text p {
    margin: 5px 0; 
}

.footer-text a, .login a, .back-link {
    color: #ff7f50; 
    text-decoration: none; 
}

.footer-text a:hover, .login a:hover, .back-link:hover {
    text-decoration: underline; 
}

.redes-sociais{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.redes-sociais img {
    width: 30px; 
    height: 30px; 
    cursor: pointer; 
}

.sobre {
    flex: 1;
    padding-top: 180px;
    margin-bottom: 30px;
}

.content {
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre p {
    text-align: center;
    font-size: 16px;
    color: #333;
}

.sobre h2 {
    font-size: 1.8rem;
    text-align: center;
}

.sobre-text {
    margin-top: 40px;
    padding: 20px;
    line-height: 1.8;
    background-color: #d7ebff;
    border-radius: 5px;
}

.sobre-text p {
    font-size: 16px;
    text-align: start;
    margin: 10px 0;
    color: #333;
}

.login-content {
    flex: 1;
}

.login {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-top: 200px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
  
.login h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input[type="email"],
.login input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.login input::placeholder {
    color: #999;
}

.login p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.lg-bg-color {
    background-color: #fff;
}

.cart-container {
    padding-top: 150px;
    margin: auto auto;
    width: 50%;
    flex: 1;
}

.cart-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.cart-container h2, .room-description h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-title {
    font-size: 18px;
    margin: 0;
}

.cart-item-price {
    color: #888;
    margin: 5px 0;
}

.cart-item-quantity {
    width: 50px;
    margin: 5px 0;
}

.remove-item {
    margin-left: auto;
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.cart-summary {
    margin-top: 20px;
    text-align: right;
}

.checkout-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.room-container {
    padding-top: 150px;
    margin: auto auto;
    width: 80%;
    flex: 1;
}

.room-details {
    padding: 40px;
    display: flex;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.room-image {
    width: 600px;
    height: 330px;
    object-fit: cover;
}

.room-description {
    flex: 1;
    padding: 20px;
}

.room-description p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.form-container {
    padding-top: 150px;
    margin: auto auto;
    width: 30%;
    flex: 1;
}

.form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: #ffffff;
}

td {
    color: #495057;
}

.btn-update {
    background-color: #28a745;
    color: #ffffff;
    transition: background-color 0.3s;
}

.btn-update:hover {
    background-color: #218838;
}

.btn-add {
    background-color: #007bff;
    color: #ffffff;
    transition: background-color 0.3s;
}

.btn-add:hover {
    background-color: #0056b3;
}

.btn-remove {
    background-color: #dc3545;
    color: #ffffff;
    transition: background-color 0.3s;
}

.btn-remove:hover {
    background-color: #c82333;
}

.hotel-table button, .reservations-table button, .btn-add {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-container-1, .table-container-2 {
    min-width: 600px;
    max-width: 800px;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.display {
    max-width: 100%;
    display: flex;
    gap: 150px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.back-link {
    margin-top: 50px;
    margin-left: 75px;
    display: inline-block;
}